@mixin font-face($family, $file, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url($path + $file + ".eot");
    src: local($path + $file),
      url($path + $file + ".eot?#iefix") format("embedded-opentype"),
      url($path + $file + ".woff2") format("woff2"),
      url($path + $file + ".woff") format("woff"),
      url($path + $file + ".ttf") format("truetype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}