.form__advantages-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form__advantages-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__advantages-item-remove {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  background-image: url(../../../assets/img/icons/remove.svg);
  background-size: 15px 15px;
  background-position: center center;
  background-repeat: no-repeat;
}