.home-head {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);

  &__logo {
    background: #D5E4F7;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    color: #212830;
    font: 400 40px/40px 'SB Sans Text', sans-serif;
  }

  &__col {
    margin-left: 24px;
  }

  &__name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #333333;
  }

  &__socials {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__social {
    display: flex;
    align-items: center;
    color: #5558FA;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      background-image: url(../../../assets/img/icons/folder.svg);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      width: 12.8px;
      height: 11.2px;
      margin-right: 5.6px;
    }
  }
}

@media screen and (max-width: 560px) {
  .home-head__socials {
    gap: 8px;
  }
}