.create__form {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.create__inner {
  max-width: 680px;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (max-width: 560px) {
  .create__inner {
    margin-top: 0;
  }

  .create__form {
    margin-top: 48px;
  }
}